/* DESKTOP*/
@media screen and (min-width: 768px){
body {width: 100%; height: 100%;  overflow: hidden;}

.header {width: 100%;}

.content {display: block; position: absolute; left: 0; width: 100%; height: calc(100% - 62px);}
.scr-main {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.scr1 {display: block; width: 100%; height: 100%; background-color: #fff; position: absolute; top: 0; left: 0;}
.scr1-box {display: block; width: 86%; margin-left: 7%; margin-right: 7%; padding: 20px 0; overflow-y: auto;}
.scr1-box h1 {font-size: 3em; font-weight: 900;}
.scr1-box h2 {font-size: 32px; font-weight: 700; margin-top: 20px; border-bottom: 2px solid #000;}
.scr1-box p {margin-top: 8px; font-size: 16px;}
.scr1-box p span {font-weight: 700;}

.scr2 {display: block; width: 100%; height: 100%; background-color: #fff; position: absolute; top: 0; left: 100%;}
.scr2 iframe {width: 60%; height: 100%; margin-left: 20%; margin-right: 20%;}

.scr3 {display: block; width: 100%; height: 100%; background-color: #fff; position: absolute; top: 0; left: 200%;}
.scr3 iframe {width: 100%; height: 100%;}



.footer {display: block; width: 100%; height: 62px; position: fixed; bottom: 0; left: 0; border-top: 2px solid #eeeeee;}
.footer-menu {display: block; width: 100%; height: 100%;}
.menu-btn {display: block; width: calc(25% - 2px); height: 100%; position: relative; float: left; text-align: center; padding-top:10px; border-right: 2px solid #dddddd; font-size: 14px; background-color: #efefef; }
.menu-btn:first-child { line-height: 40px;}
.menu-btn:last-child {width: 25%; border: none;}
.btnsel {background-color: #fff;}
}
