body{display: block; width: 100vw; height: 100vh;}
iframe {border: 1px solid #000;}
.gotodocx {display: block; width: 100%; height:4%; line-height: 200%; text-align: center; background-color: #99f;}
.gotodocx a {display: block; width: 100%; height: 100%; }
