@import "reset.css";

body {
    margin: 0;
    display: flex;
    overflow:hidden;
    width: max-content;
    color: #FAFAFA;
    font-weight: 400;
    letter-spacing: 0.9px;
    -webkit-font-smoothing: antialiased;
  }
  img {
    max-width: 100%;
  }
  
  /*********************/
  /* NAVIGATION BAR */
  
  .barNav {
    position: fixed;
    bottom: 20px;
    left: 15vw;
    width: 70vw;
    height: 0px;
    /* border-bottom: 1px solid #555555; */
    filter: sepia(1);
    -webkit-filter: sepia(1);
    z-index: 20;
  }
  .barNavFuel {
    width: 10%;
    height: 1px;
    /* background-color: #FAFAFA; */
    transition: width 0.5s;
    opacity: .8
  }
  .arrows {
    position: absolute;
    top: -25px;
    width: 100%;
    filter: sepia(1);
    -webkit-filter: sepia(1);
  }
  .arrows i {
    position: relative;
    width: 0;
    cursor: pointer;
    opacity: .5;
  }
  .arrows i:hover {
    opacity: .8;
  }
  /*********************/
  /* BORDER */
  .fullBorder {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index:10;
  }
  .fullBorder div {
    position: absolute;
    filter: sepia(1);
    -webkit-filter: sepia(1);
    opacity: .5;
  
  }
  .fullBorder div.corner {
    width: 50px;
    height: 50px;
  }
  .fullBorder .top {
    width: calc(100vw - 200px);
    height: 0px;
    border-bottom: 1px solid #FAFAFA;
    top: 20px;
    left: 100px;
  }
  .fullBorder .leftTop {
    position: absolute;
    top: 21px;
    left: 50px;
    border-right: 2px solid #FAFAFA;
    border-radius: 50px 0;
  }
  .fullBorder .left {
    top: 71px;
    left: 50px;
    width: 0;
    height: calc(100vh - 142px);
    border-right: 1px solid #FAFAFA;
  }
  .fullBorder .leftBot {
    bottom: 21px;
    left: 50px;
    border-right: 2px solid #FAFAFA;
    border-radius: 0 50px;
  }
  .fullBorder .rightTop {
    top: 21px;
    right: 50px;
    border-left: 2px solid #FAFAFA;
    border-radius: 0 50px;
  }
  .fullBorder .right {
    top: 71px;
    right: 50px;
    width: 0;
    height: calc(100vh - 142px);
    border-left: 1px solid #FAFAFA;
  }
  .fullBorder .rightBot {
    bottom: 21px;
    right: 50px;
    border-left: 2px solid #FAFAFA;
    border-radius: 50px 0;
  }
  .fullBorder .bot {
    width: calc(100vw - 200px);
    height: 0px;
    border-bottom: 1px solid #FAFAFA;
    bottom: 20px;
    left: 100px;
  }
  
  /*********************/
  
  section {
    display: flex;
    width: max-content;
    position: relative
  }
  .block {
    background-color: #1A1A1F;
  }
  .background {
    background-color: #000000;
  }
  .oneSpace {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 100vh;
  }
  .halfSpace{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    width: 50vw;
    height: 100vh;
  }
  /*  */
  .centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  section > div {
    position: relative;
    z-index: 1;
  }
  
  /*********************/
  /* Content CSS */
  
  
  /* #firstBlock .backimage {
      background: linear-gradient(to right, rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 42%,rgba(0,0,0,0) 100%), url('https://www.thoughtco.com/thmb/VEIvog8ZWDAmkp_FrTIivJuWEE0=/2000x1500/filters:fill(auto,1)/GettyImages-675801180-5a7096961d64040037179114.jpg'), black;
  
  }
  #secondBlock .backimage {
    background: linear-gradient(to right, rgba(0,0,0,1) 7%,rgba(0,0,0,0.8) 18%, rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 100%),url('https://www.kcbi.org/wp-content/uploads/2017/06/musical.jpg');
  } */
  .backimage {
    background-attachment: fixed !important;
    background-size: 120vw !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    z-index: 0 !important;
    background-position-y: center !important;
    background-position-x: 0vw;
    background-repeat: no-repeat !important;
    transition: background-position-x 0.1s;
    filter: sepia(0.5);
  }
  #firstBlock h1,
  #secondBlock h1 {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 0 0 100px;
    filter: sepia(1);
    -webkit-filter: sepia(1);
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  #firstBlock .smallInfo, 
  #secondBlock .smallInfo {
    width: 400px;
    position: relative;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    height: 250px;
    padding: 50px 50px;
    margin-top: calc(50vh - 150px);
    filter: sepia(1);
    -webkit-filter: sepia(1);
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .image {
    width: calc(300px * 1.618);
    height: 300px;
    margin: 20px 50px;
    filter: sepia(1);
    -webkit-filter: sepia(1);
    border: 4px ridge;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .text {
    height: 300px;
    width: calc(300px * 1.618 * 1.5);
    border: 4px ridge;
    margin: 20px 50px;
    padding: 50px;
    filter: sepia(1);
    -webkit-filter: sepia(1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  @media screen and (max-width: 1500px) {
    .image {
      width: calc(225px * 1.618);
      height: 225px;
      margin: 20px 50px;
    }
    .text {
      height: 225px;
      width: calc(225px * 1.618 * 1.5);
      margin: 20px 50px;
      font-size: 17px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .barNav {
      bottom: 15px;
    }
  
    /*********************/
    /* BORDER */
    /* .fullBorder div.corner {
      width: 40px;
      height: 40px;
    }
    .fullBorder .top {
      width: calc(100vw - 140px);
      height: 0px;
      border-bottom: 1px solid #FAFAFA;
      top: 15px;
      left: 70px;
    }
    .fullBorder .leftTop {
      position: absolute;
      top: 16px;
      left: 30px;
      border-right: 2px solid #FAFAFA;
      border-radius: 50px 0;
    }
    .fullBorder .left {
      top: 56px;
      left: 30px;
      width: 0;
      height: calc(100vh - 112px);
      border-right: 1px solid #FAFAFA;
    }
    .fullBorder .leftBot {
      bottom: 16px;
      left: 30px;
      border-right: 2px solid #FAFAFA;
      border-radius: 0 50px;
    }
    .fullBorder .rightTop {
      top: 16px;
      right: 30px;
      border-left: 2px solid #FAFAFA;
      border-radius: 0 50px;
    }
    .fullBorder .right {
      top: 56px;
      right: 30px;
      width: 0;
      height: calc(100vh - 112px);
      border-left: 1px solid #FAFAFA;
    }
    .fullBorder .rightBot {
      bottom: 16px;
      right: 30px;
      border-left: 2px solid #FAFAFA;
      border-radius: 50px 0;
    }
    .fullBorder .bot {
      width: calc(100vw - 140px);
      height: 0px;
      border-bottom: 1px solid #FAFAFA;
      bottom: 15px;
      left: 70px;
    } */
  
    /*********************/
  
    
    .image {
      width: calc(180px * 1.618);
      height: 180px;
      margin: 20px 50px;
    }
    .text {
      height: unset;
      min-height: 180px;
      width: calc(180px * 1.618 * 1.5);
      margin: 20px 50px;
      padding: 20px;
      font-size: 16px;
    }
    
  }
  @media only screen and (max-width: 992px) {
    #firstBlock h1,
    #secondBlock h1 {
      font-size: 24px;
      margin: 0 0 0 60px;
  
    }
  
    #firstBlock .smallInfo, 
    #secondBlock .smallInfo {
      width: 300px;
      height: 260px;
      padding: 0 50px;
      margin-top: calc(50vh - 130px);
      font-size: 18px;
    }
  
  }
  @media only screen and (max-width: 768px) {
    body, section {
      display: flex;
      width: 100%;
      height: max-content;
      flex-flow: row wrap;
      overflow: unset;
      align-items: self-start;
    }
    .barNav {
      bottom: 10vh;
      left: unset;
      right: 30px;
      width: 0vw;
      height: 70vh;
      border-bottom: unset;
      border-left: 1px solid #555555;
      filter: sepia(1);
      -webkit-filter: sepia(1);
      z-index: 20;
    }
    .barNavFuel {
      height: unset;
      width: 1px;
      background-color: #FAFAFA;
      transition: width 0.5s;
      opacity: .8
    }
    .arrows {
      display: none;
    }
    .oneSpace {
      width: 100%;
      min-height: 100vh;
      height: unset;
    }
    .halfSpace{
      width: 100%;
      min-height: 50vh;
      height: unset;
    }
    .backimage {
      background-size: cover !important;
    }
    #firstBlock h1,
    #secondBlock h1 {
      font-size: 24px;
      margin: 0 0 50px 50px;
      width: 100%;
  
    }
    #firstBlock .smallInfo, 
    #secondBlock .smallInfo {
      width: 300px;
      height: 260px;
      padding: 0 50px;
      margin-top: 0;
      font-size: 18px;
    }
    .centered {
      padding: 50px 0;    
    }
    
  }
  @media only screen and (max-width: 528px) {
    .fullBorder {
      display: none;
    }
    .barNav {
      right: 15px;
    }
    #firstBlock h1,
    #secondBlock h1 {
      font-size: 20px;
      margin: 0 20px 50px 20px;
      width: 100%;
  
    }
    #firstBlock .smallInfo, 
    #secondBlock .smallInfo {
      width: 100%;
      height: 260px;
      padding: 0 20px;
      margin-top: 0;
      font-size: 18px;
    }
    .centered {
      padding: 50px 0;    
    }
    .image {
      margin: 20px 20px;
      border: 2px ridge;
  
    }
    .text {
      margin: 20px 20px;
      padding: 15px;
      font-size: 16px;
      border: 2px ridge;
  
    }
  }

  .anotherTest{
    display:block;
    position: fixed;
    bottom: 10px;
    z-index: 9999;
    left: calc(50% - 154px);
}

.btn2 {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}