@import "reset.css";

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.btn {
    display:block;
    position: fixed;
    top: 10px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.anotherTest{
    display:block;
    position: fixed;
    bottom: 10px;
}

.btn2 {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}