/* DESKTOP*/
@media screen and (min-width: 768px){
body {width: 100%; overflow: hidden;}

.header {width: 100%;}

.content {display: block; position: absolute; left: 0; width: 100%; height: 100%;}

.scr {display: block; position: absolute; width: 100%; height: 100%; }

.scr1 {background-color: #fff;}
.scr1-main {display: block; width: 100%; height: 100%;}
.scr1-box {overflow: auto; display: block; width:60%; height: calc(100% - 120px); margin-left: 20%; margin-right: 20%; padding-bottom: 120px;}
.scr1-box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scr1-box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
h1 {font-size: 2.6em; font-weight: 700;}
.scr1-script {display: block; width: 100%;}
.scr1-know {display: block; width: 100%;}
.scr1-know img {display: block; width: 100%;}


.scr2 {background-color: #fff; left: 100%;}
.scr3 {background-color: #fff; left: 200%;}

.prev {display: block; position: absolute; left: 5%; bottom: 5%;}
.next {display: block; position: absolute; right: 5%; bottom: 5%;}

.footer {width: 100%;}
}